<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Loja - Fusca Azul</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list>
    <ion-item>
      <ion-label>
        <b>Descrição:</b> Bateria Moura <p></p>
        <b>Código:</b> 1 <p></p>
        <b>Preço:</b> R$280,00 <p></p>
        <b>Tipo:</b> Baterias <p></p>
        <b>Quantidade:</b> 3 <p></p>
        <b>Loja:</b> Loja do Baiano <p></p>
      </ion-label>      
    </ion-item>
  </ion-list>
  <ion-list>
    <ion-item>
      <ion-label>
        <b>Descrição:</b> ZP <p></p>
        <b>Código:</b> 2 <p></p>
        <b>Preço:</b> R$208,90 <p></p>
        <b>Tipo:</b> Acessórios Externos <p></p>
        <b>Quantidade:</b> 18 <p></p>
        <b>Loja:</b> Dualto <p></p>
      </ion-label>
    </ion-item>
  </ion-list>
  <ion-list>
    <ion-item>
      <ion-label>
            <b>Descrição:</b> Nat <p></p>
            <b>Código:</b> 3 <p></p>
            <b>Preço:</b> R$49,90 <p></p>
            <b>Tipo:</b> Acessórios Internos <p></p>
            <b>Quantidade:</b> 4 <p></p>
            <b>Loja:</b> Biank <p></p>
      </ion-label>
    </ion-item>
  </ion-list>
  <ion-list>
    <ion-item>
      <ion-label>
            <b>Descrição:</b> Rádio Automotivo Pionner <p></p>
            <b>Código:</b> 4 <p></p>
            <b>Preço:</b> R$399,90 <p></p>
            <b>Tipo:</b> Som e Vídeo <p></p>
            <b>Quantidade:</b> 4 <p></p>
            <b>Loja:</b> Dualto <p></p>
      </ion-label>
    </ion-item>
  </ion-list>
  <ion-list>
    <ion-item>
      <ion-label>
            <b>Descrição:</b> Luz Xenon <p></p>
            <b>Código:</b> 5 <p></p>
            <b>Preço:</b> R$114,00 <p></p>
            <b>Tipo:</b> Faróis <p></p>
            <b>Quantidade:</b> 7 <p></p>
            <b>Loja:</b> Biank <p></p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
